name: Daily Auto Sign

on:
  schedule:
    # 就像设闹钟，多设几个防止睡死
    - cron: '20 22 * * *' # 06:20
    - cron: '35 22 * * *' # 06:35
    - cron: '50 22 * * *' # 06:50
  workflow_dispatch:

# --- 加在这里 ---
concurrency:
  group: sign-group
  cancel-in-progress: true 
# ---------------

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests
      - name: Run Script
        env:
          MY_COOKIE: ${{ secrets.MY_COOKIE }}
        run: python sign.py
